{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h2 class="mb-4">Create New User</h2>
    <form method="post" action="/api/accounts/staff-management/"> 
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Full Name</label>
            <input type="text" name="full_name" class="form-control" placeholder="Dr. John Doe" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Professional Email</label>
            <input type="email" name="email" class="form-control" placeholder="name@clinic.com" required>
        </div>

        <div class="mb-3">
            <label class="form-label">System Role</label>
            <select name="role" id="roleselect" class="form-select" required>
                <option value="" selected disabled>Select Role...</option>
                    <option value="REC">Receptionist</option>
                    <option value="CCO">Clinical Counsellor</option>
                    <option value="FCO">Financial Counsellor</option>
                    <option value="GYN">Gynaecologist</option>
                    <option value="EMB">Embryologist</option>
                    <option value="ANE">Anesthesiologist</option>
                    <option value="NUR">Nurse</option>
                    <option value="PHA">Pharmacist</option>
                    <option value="TEC">Lab Technician</option>
                    <option value="AND">Andrology Lab Technician</option>
                    <option value="HRM">HR Manager</option>
                    <option value="ADM">System Admin</option>
                </select>
        </div>
        <div id="HRM-Fields" class="role-section" style="display: none;">
            <h5>HR Specific Permissions</h5>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="can_approve_leaves" id="check1">
                        <label class="form-check-label" for="check1">Can Approve Leaves</label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="can_view_salaries" id="check2">
                        <label class="form-check-label" for="check2">Can View Salaries</label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="can_terminate_staff" id="check3">
                        <label class="form-check-label" for="check3">Can Terminate Staff</label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="can_edit_attendance" id="check4">
                        <label class="form-check-label" for="check4">Can Edit Attendance</label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="can_generate_payslips" id="check5">
                        <label class="form-check-label" for="check5">Can Generate Payslips</label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="can_update_documents" id="check6">
                        <label class="form-check-label" for="check6">Can Update Documents</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="REC-Fields" class="role-section" style="display: none;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="can_access_billing" id="check1">
                        <label class="can_access_billing" for="check1">Can Access Billing</label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="can_register_patient" id="check2">
                        <label class="can_register_patient" for="check2">Can Register Patient</label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="can_modify_patient_records" id="check3">
                        <label class="can_modify_patient_records" for="check3">Can Modify Patient Records</label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="can_schedule_points" id="check4">
                        <label class="can_schedule_points" for="check4">Can Schedule Points</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="CCO-Fields" class="role-section" style="display: none;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check mb2">
                        <input class="form-check-input" type="checkbox" name="is_department_head" id="check1">
                        <label class="form-check-label" for="check1">Is Department Head</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="FCO-Fields" class="role-section" style="display: none;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check mb2">
                        <input class="form-check-input" type="checkbox" name="can_approve_discounts" id="check1">
                        <label class="form-check-label" for="check1">Can Approve Discounts</label>
                    </div>
                    <div class="form-check mb2">
                        <input class="form-check-input" type="checkbox" name="can_override_insurance" id="check1">
                        <label class="form-check-label" for="check1">Can Override Insurance</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="EMB-Fields" class="role-section" style="display: none;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check mb2">
                        <input class="form-check-input" type="checkbox" name="can_perform_icsi" id="check1">
                        <label class="form-check-label" for="check1">Can Perform ICSI</label>
                    </div>
                    <div class="form-check mb2">
                        <input class="form-check-input" type="checkbox" name="is_lab_director" id="check2">
                        <label class="form-check-label" for="check2">Is Lab Director</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="NUR-Fields" class="role-section" style="display: none;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check mb2">
                        <input class="form-check-input" type="checkbox" name="is_head_nurse" id="check1">
                        <label class="form-check-label" for="check1">Is Head Nurse</label>
                    </div>
                    <div class="form-check mb2">
                        <input class="form-text" type="text" name="department" id="check2">
                        <label class="form-label" for="check2">Department</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="AND-Fields" class="role-section" style="display: none;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check mb2">
                        <input class="form-check-input" type="checkbox" name="can_perform_dna_frag" id="check1">
                        <label class="form-check-label" for="check1">Perform DNA Fragmentation</label>
                    </div>
                    <div class="form-check mb2">
                        <input class="form-check-input" type="checkbox" name="can_perform_cryo" id="check2">
                        <label class="form-check-label" for="check2">Can Perform Cryo</label>
                    </div>
                </div>
            </div>
        </div>
                <div class="mb-3">
                    <label class="form-label">Temporary Password</label>
                    <input type="password" name="password" class="form-control" required>
                    <div class="form-text">The user should change this upon first login.</div>
                </div>
        <button type="submit" class="btn btn-primary">Create User</button>
    </form>
</div>
<script>
    const roleSelect=document.getElementById('roleselect')
    const allsections=document.querySelectorAll(".role-section")

    roleSelect.addEventListener('change',function(){
        allsections.forEach(section=>section.style.display="none")

        const selectedSection=document.getElementById(this.value+"-Fields")

        if (selectedSection){
            selectedSection.style.display='block'
        }
    })

</script>
{% endblock %}